.vs/HouseRentingSystem/CopilotIndices/0.2.1653.9816/CodeChunks.db
.vs/HouseRentingSystem/CopilotIndices/0.2.1653.9816/CodeChunks.db-shm
.vs/HouseRentingSystem/CopilotIndices/0.2.1653.9816/CodeChunks.db-wal
.vs/HouseRentingSystem/CopilotIndices/0.2.1653.9816/SemanticSymbols.db
.vs/HouseRentingSystem/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-shm
.vs/HouseRentingSystem/CopilotIndices/0.2.1653.9816/SemanticSymbols.db-wal
.vs/HouseRentingSystem/FileContentIndex/49ff4b7a-31b6-443f-93aa-73d6c18a02d0.vsidx
.vs/HouseRentingSystem/v17/TestStore/0/000.testlog
.vs/HouseRentingSystem/v17/TestStore/0/testlog.manifest
HouseRentingSystem.Services/obj/HouseRentingSystem.Services.csproj.nuget.dgspec.json
HouseRentingSystem.Services/obj/HouseRentingSystem.Services.csproj.nuget.g.props
HouseRentingSystem.Services/obj/HouseRentingSystem.Services.csproj.nuget.g.targets
HouseRentingSystem.Services/obj/project.assets.json
HouseRentingSystem.Services/obj/project.nuget.cache
HouseRentingSystem.Services/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
HouseRentingSystem.Services/obj/Debug/net6.0/HouseRentingSystem.Services.AssemblyInfo.cs
HouseRentingSystem.Services/obj/Debug/net6.0/HouseRentingSystem.Services.AssemblyInfoInputs.cache
HouseRentingSystem.Services/obj/Debug/net6.0/HouseRentingSystem.Services.assets.cache
HouseRentingSystem.Services/obj/Debug/net6.0/HouseRentingSystem.Services.csproj.AssemblyReference.cache
HouseRentingSystem.Services/obj/Debug/net6.0/HouseRentingSystem.Services.GeneratedMSBuildEditorConfig.editorconfig
HouseRentingSystem.Services/obj/Debug/net6.0/HouseRentingSystem.Services.GlobalUsings.g.cs
HouseRentingSystem.Tests/bin/Debug/net6.0/CoverletSourceRootsMapping
HouseRentingSystem.Tests/obj/HouseRentingSystem.Tests.csproj.nuget.dgspec.json
HouseRentingSystem.Tests/obj/HouseRentingSystem.Tests.csproj.nuget.g.props
HouseRentingSystem.Tests/obj/HouseRentingSystem.Tests.csproj.nuget.g.targets
HouseRentingSystem.Tests/obj/project.assets.json
HouseRentingSystem.Tests/obj/project.nuget.cache
HouseRentingSystem.Tests/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
HouseRentingSystem.Tests/obj/Debug/net6.0/HouseRentingSystem.Tests.AssemblyInfo.cs
HouseRentingSystem.Tests/obj/Debug/net6.0/HouseRentingSystem.Tests.AssemblyInfoInputs.cache
HouseRentingSystem.Tests/obj/Debug/net6.0/HouseRentingSystem.Tests.assets.cache
HouseRentingSystem.Tests/obj/Debug/net6.0/HouseRentingSystem.Tests.csproj.AssemblyReference.cache
HouseRentingSystem.Tests/obj/Debug/net6.0/HouseRentingSystem.Tests.GeneratedMSBuildEditorConfig.editorconfig
HouseRentingSystem.Tests/obj/Debug/net6.0/HouseRentingSystem.Tests.GlobalUsings.g.cs
HouseRentingSystem.Web/obj/HouseRentingSystem.Web.csproj.nuget.dgspec.json
HouseRentingSystem.Web/obj/HouseRentingSystem.Web.csproj.nuget.g.props
HouseRentingSystem.Web/obj/HouseRentingSystem.Web.csproj.nuget.g.targets
HouseRentingSystem.Web/obj/project.assets.json
HouseRentingSystem.Web/obj/project.nuget.cache
HouseRentingSystem.Web/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.AssemblyInfo.cs
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.AssemblyInfoInputs.cache
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.assets.cache
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.csproj.AssemblyReference.cache
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.GeneratedMSBuildEditorConfig.editorconfig
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.GlobalUsings.g.cs
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.RazorAssemblyInfo.cache
HouseRentingSystem.Web/obj/Debug/net6.0/HouseRentingSystem.Web.RazorAssemblyInfo.cs
